<h1>Mood Entry Details</h1>

<p><strong>Date:</strong> <%= @mood_entry.entry_date %></p>
<p><strong>Mood:</strong> <%= @mood_entry.mood %></p>
<p><strong>Note:</strong> <%= @mood_entry.note %></p>

<%= link_to "Back", mood_entries_path %>

