body {
    background-color: #fff1c9;
    
}

h1{
    color: #241814 ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}  

h6{
    color:#4B3832;
    font-size: 15px;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
}

.delete-link {
  background: none;
  border: none;
  color: #4B3832;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

.delete-link:hover {
  color: #0056b3;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}

th, td {
    border:1px solid #4B3832;
    padding:12px;
}

thead{
    background-color: #ffe4b5;
}

tbody tr:nth-child(odd) {
  background-color: #fff5e1;
}

tbody tr:nth-child(even) {
  background-color: #f7e4c5;
}


.page-container{
    margin: 0 auto;
    text-align: center;
}

.new-entry-link{
    background-color: rgb(134, 79, 7);
    color:black;
    border: none;
    padding: 10px 12px;
    margin: 2px;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    display:inline-block;
}

.new-entry-link:hover{
    background-color:#4B3832;
}

